.footer
    h3 
        #left Quality Bot | Wagyourtail 2020
        #right
            if loginStatus
                a(href="/logout") Logout
                =" | "
            a(href="https://github.com/Wagyourtail/QualityBot") GitHub
