extends ../dashboard.pug

block style
    link(rel= "stylesheet" href= "https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css")
    style
        include AdvancedInfo.css

block pluginContent
    p(class= "description") Not really much to configure here, so here's the same info the commands would give in Discord.
    .commands
        #roles
            h2 AIListRoles
            div
                each role in pluginData.roles
                    font(color= `#${role.color}`)=`@${role.name.replace('@', '')}`
                    =`: ${role.id}`
                    br
