extends ../dashboard.pug


block style
    style
        include Akinator.css

block description
    p Akinator plays akinator through the akinator api. see 
        a(href="https://en.akinator.com/" target="_blank") Akinator's Website
        =" for more info."

block pluginContent
