extends ../dashboard.pug

block style
    link(rel= "stylesheet" href= "https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css")
    style
        include Default.css

block description
    p the default and neccecairy commands to manage the bot from within the server.

block pluginContent
    
