extends ../dashboard.pug

block style
    link(rel= "stylesheet" href= "https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css")
    style
        include LookingForPlayers.css

block description
    p A plugin that dynamically creates voice channels within a category to allow for a less cluttered server.

block pluginContent
    
