extends ../dashboard.pug

block style
    link(rel= "stylesheet" href= "https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css")
    style
        include MemberRank.css

block description
    p [WIP] A plugin that rewards xp for messages. 

block pluginContent
    
