extends ../dashboard.pug

block style
    link(rel= "stylesheet" href= "https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css")
    style
        include null.css

block description
    p here are all of the bot's plugins and the server's prefix.

block pluginContent
    .plugins
        .prefix Prefix: 
            input(type="text" id="prefix" name="prefix" value=pluginData.prefix)
        each plugin in pluginData.plugins
            .plugin(id= plugin)
                div(class= "pretty p-switch p-fill")
                    input(name= plugin type="checkbox" checked=pluginData.enabled.includes(plugin) disabled=plugin == "Default" && pluginData.enabled.includes(plugin))
                    div(class="state p-success")
                        label
                a(href=`/dashboard/${guildID}/${plugin}`)= plugin
