extends ../dashboard.pug

block style
    link(rel= "stylesheet" href= "https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css")
    style
        include SecretPhrase.css

block description
    p if the user types a secret phrase, they gain an associated role, this can be used for accepting server rules and stuff like that.

block pluginContent
    
