extends ../dashboard.pug

block style
    link(rel= "stylesheet" href= "https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css")
    style
        include Weather.css

block description
    p a weather command. get the weather. command provided by
        a(href="https://www.msn.com/en-us/Weather/") msn
        ="."

block pluginContent
    
