body {
    overflow: hidden;
    font-family: 'Segoe UI';
    margin: 0px;
}

.topbar {
    border-bottom: 2px solid #383838;
}

.content {
    display: grid;
    grid-template-columns: 200px auto;
}

.sidebar {
    line-height: 50px;
    background-color: #282828;
    border-right: 2px solid #484878;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    color: white;
}

#guilds {
    width: 198px;
    margin-top: 5px;
}

#addGuild {
    position: absolute;
    bottom: 63px;
    width: 198px;
}

.guildSelector {
    display: block;
    white-space: nowrap;
    margin-bottom: 5px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    padding: 2px 0;
}

.guildSelector:hover {
    background-color: #323232;
}

.guildSelector.currentGuild {
    background-color: #7777FF60;
}

.guildSelector img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    border-radius: 50%;
}

.pluginContent {
    height: 100vh;
    background-color: #7777FF;
}

.saveBar {
    display: grid;
    grid-template-columns: 200px auto 100px 100px 20px;
    margin-top: 0px;
    padding-top: 15px;
}

.saveBar h1 {
    margin: 0;
    padding-left: 20px;
}

#reset {
    background-color: #4C4C4C;
    border: none;
    color: white;
    margin-right: 5px;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

#reset:hover {
    background-color: #535353;
}

#submit {
    background-color: #4CAF50;
    border: none;
    color: white;
    margin-left: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

#submit:hover {
    background-color: #53B656;
}
